@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.navbar-main-container {
  top: 20px !important;
}

.header-logo {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  text-transform: uppercase !important;
  color: #ffffff !important;
  background-color: #000 !important;
  display: table !important;
  padding: 7px 11px !important;
};

.comp-menu-item,
.mobile-menu-item {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
};

.comp-menu-item {
  font-size: 1.25rem !important;
  color: #fff !important;
};

.comp-menu-item:hover {
  background-color: #000 !important;
};

#burgerButton {
  box-shadow: none !important;
  padding: 0px !important;
};

#burgerButton:hover {
  background: transparent !important;
};

#burgerButton:active,
#burgerButton:focus {
  background: transparent !important;
};

#burgerButtonIcon {
  color: #fff;
  font-size: 2.5rem;
};

@media screen and (min-width: 600px) {
  .header-logo{
    padding: 14px 22px !important;
    letter-spacing: 6px;
  }
};

@media screen and (min-width: 768px) {
  .navbar-main-container {
    top: 50px !important;
  }
}
